APP_NAME="Akses Dana LH"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_FE=https://uat.bpdlh.id/layanan-masyarakat

LOG_CHANNEL=stack

# Database Aplikasi CMS
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=bpdlh_like
DB_USERNAME=root
DB_PASSWORD=

# Database Untuk Key API
DB_HOST_API=127.0.0.1
DB_PORT_API=3306
DB_DATABASE_API=bpdlh_api
DB_USERNAME_API=root
DB_PASSWORD_API=

# Database Untuk E-Office
DB_HOST_EOFFICE=127.0.0.1
DB_PORT_EOFFICE=3306
DB_DATABASE_EOFFICE=
DB_USERNAME_EOFFICE=root
DB_PASSWORD_EOFFICE=

# Database Untuk Wilayah
DB_HOST_WILAYAH=127.0.0.1
DB_PORT_WILAYAH=3308
DB_DATABASE_WILAYAH=bpdlh_wilayah
DB_USERNAME_WILAYAH=root
DB_PASSWORD_WILAYAH=12345678

BROADCAST_DRIVER=log
CACHE_DRIVER=database
QUEUE_CONNECTION=database
SESSION_DRIVER=database
SESSION_LIFETIME=120
#SESSION_DOMAIN=
SANCTUM_STATEFUL_DOMAINS=localhost
SANCTUM_EXPIRATION=60

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# Mail Untuk Verifikasi Email
MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

# Mail untuk notifikasi ke user
PHPEMAIL_MAILER=smtp
PHPEMAIL_HOST=
PHPEMAIL_PORT=587
PHPEMAIL_USERNAME=
PHPEMAIL_PASSWORD=
PHPEMAIL_ENCRYPTION=
PHPEMAIL_FROM_ADDRESS=
PHPEMAIL_AUTH=true
PHPEMAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# Recaptcha Key Google
RECAPTCHA_ENABLED=true
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# Sentry DSN
SENTRY_LARAVEL_DSN=
SENTRY_TRACES_SAMPLE_RATE=1.0
