/node_modules
/public/hot
/public/storage
/public/app/build
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
public/js/app.js
public/app/src/akseslh_paket_kegiatan.js
public/app/build/home.js
public/app/build/app.js
public/mix-manifest.json
