node_modules
public/app/build
public/js/app.js
public/mix-manifest.json
storage
vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
uat.bpdlh.id
package-lock.json
k8s/app-secret.yaml